body {
      font-family: Arial, sans-serif;
      max-width: 400px;
      margin: 40px auto;
      padding: 10px;
      background: #51fd0c;
    }
    input, button {
      padding: 10px;
      font-size: 16px;
    }
    input {
      width: 70%;
      margin-right: 5px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      background: #fdfdfd;
      margin: 5px 0;
      padding: 10px;
      cursor: pointer;
      border-radius: 4px;
    }
    li.completed {
      text-decoration: line-through;
      color: rgb(160, 5, 5);
    }