body {
      font-family: Arial, sans-serif;
      max-width: 400px;
      margin: 40px auto;
      padding: 10px;
      background: #e40707;
    }
    input, button {
      padding: 10px;
      font-size: 16px;
    }
    input {
      width: 70%;
      margin-right: 5px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      background: #c90e0e;
      margin: 5px 0;
      padding: 10px;
      cursor: pointer;
      border-radius: 4px;
    }
    li.completed {
      text-decoration: line-through;
      color: gray;
    }